<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="#home">Home</a></li>
            <li class="nav-item"><a href="#database">DataBase</a></li>
            <li class="nav-item"><a href="/map">map</a></li>
            <li class="nav-item"><a href="/plot">plot</a></li>
            <li class="nav-item"><a href="/export">exportData</a></li>
            <li class="nav-item"><a href="/earts">earts</a></li>
            <li class="nav-item"><a href="#export">exportData</a></li>
        </ul>
    </nav>
</body>
</html>
