<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality Data</title>
    <link rel="stylesheet" href="/css/plot.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <%- include ('layout/menu.ejs') -%>

    <h1>2D and 3D Air Quality Data Visualization</h1>
    <div class="chart-container">
        <div id="chart2d"></div>
        <div id="chart3d"></div>
    </div>
    <script src="script.js"></script>
</body>
</html>
