<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="/home">Home</a></li>
            <li class="nav-item"><a href="/">DataBase</a></li>
            <li class="nav-item"><a href="/map">map</a></li>
            <li class="nav-item"><a href="/plot">plot</a></li>
            <li class="nav-item"><a href="/earts">earts</a></li>
            <li class="nav-item"><a href="/export">Export-Data</a></li>
            <li class="nav-item"><a href="/import">Import-Data</a></li>
        </ul>
    </nav>

